[user]
	email = elena.graverini@cern.ch
	name = Elena Graverini
[push]
	default = simple
[core]
	fileMode = false
	autocrlf = false
[diff]
	tool = meld
	external = /home/elena/Apps/diff.py
[alias]
	exclude = !sh -c 'echo "$1" >> .git/info/exclude' -

[merge]
	tool = meld
[difftool]
	prompt = false
[color]
	ui = auto
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret


